{% extends "base_site.html" %} {% block title %} My Works {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3> My Works</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
              </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> My Activities</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            {%if queryset%} {%for ra_item,percentage in queryset.items %}
                            <a href="{{ ra_item.dataset.get_dataset_info_url }}">
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            {% load static %}
                                            <img style="width: 100%; display: block;" src="{% static ra_item.dataset.thumbnail_filename.url %}" alt="image" />
                                            <!-- <div class="mask">
                                                <p>Your Text</p>
                                                <div class="tools tools-bottom">
                                                  <a href="#"><i class="fa fa-link"></i></a>
                                                  <a href="#"><i class="fa fa-pencil"></i></a>
                                                  <a href="#"><i class="fa fa-times"></i></a>
                                                </div>
                                              </div> -->

                                        </div>
                                        <div class="caption">
                                            <p>{{ra_item.dataset.title}}</p>

                                        </div>
                                        <div class="progress">
                                            {% if percentage < 0 %}
                                            <<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>>
                                            {%else%}
                                            <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">{{percentage}}%</div>
                                            {%endif%}
                                          </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %} {% else %}
                            <p>No Recent Activities</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super }} {% endblock javascripts %}